

body{
			background-color: #FFDAB9;
}

	a.button1:link , a.button1:visited{
			background-color: forestgreen;
			display: inline-block;
			text-decoration: none;
			color: white;
			margin:2px;
			padding: 5px;
			padding-right: 15px;
			text-align: center;
			font-family: monospace;
			background-clip: padding-box;

		}

		a.button1:active , a.button1:hover{

			background-color: navy;

		}

		a.button2:link , a.button2:visited{
			background-color: forestgreen;
			margin: auto;
			display: block;

			text-decoration: none;
			color: white;
			margin:2px;
			padding-right: 15px;
			text-align: center;
			font-family: monospace;
			font-size: 20px;
			background-clip: padding-box;

		}

		a.button2:active , a.button2:hover{

			background-color: navy;

		}
h1{
			color:green;
			text-align: center;
			display: block;
			background-color: mediumspringgreen;
}

th{

	margin:15px;
	border: 2px solid black;
	border-radius: 5px;
}

td{
	border: 1px dashed blue;
	text-align: center;
}

